.navbar{
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px #000;
}

.mainPages{
    justify-content: center;
    display:flex;
}

.navbar .navbarList {
    background-color: var(--bg-color-nav);
    justify-content: center;
    list-style-type: none;
    align-items: center;
    overflow: hidden;
    padding:0px;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    display: block;
    color:white;
    padding:15px;
}

.navbar a:hover{ background-color: #262C36; }

.navbar__button a {
    text-decoration: none;
    color: #fff;
    display: flex;
    color: var(--text-color-blue);
}
.navbar__button svg {
    margin-left: 10px;
}

.navbar .navbarButton { float:left; }
.navbarList>.navbarButton a {
    color: var(--text-color-blue); 
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarList>.navbarButton a svg {
    margin-left: 10px;
}