.navbar .Links {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-color: #1B1D23;
    padding: 10px;
    box-shadow: 2px 2px 5px #000;
    border-radius: 0px 0px 10px 10px;
}

.navbar__button a {
    text-decoration: none;
    color: #fff;
}