#root {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #272C36;
  color: #4f9fee;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

