:root {
  --text-color-blue: #4f9fee;
  --bg-color-nav: #1B1D23;
  --bg-color-dark: #272C36;
}

#root {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--bg-color-dark);
  color: var(--text-color-blue);
  margin: 0;
}